:root {
    --background: #171717;
    --plain-font: whitesmoke;
    --card: #1D1D1D;
    --gradient-font: linear-gradient(to left, turquoise, steelblue, rebeccapurple);
}

::-webkit-scrollbar {
    width: 4px;
    background-image: linear-gradient(to bottom, turquoise, steelblue, rebeccapurple);
    transition: all .4s ease;
}

::-webkit-scrollbar-thumb {
    background-image: linear-gradient(to bottom, turquoise, steelblue, rebeccapurple);
    border-radius: 4px;
    width: 4px;
    transition: all .4s ease;
}

::-webkit-scrollbar-track {
    background: #101010;
    border-radius: 4px;
    width: 4px;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Castoro Titling', cursive;
    background-color: var(--background);
}

a {
    text-decoration: none;
}

.gradient-font {
    background-image: linear-gradient(to left, turquoise, steelblue, rebeccapurple);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: var(--background);
}

header .logo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 35px;
}

.logo-img {
    width: 45px;
    height: 45px;
    opacity: 0.1;
}

.page-title {
    text-transform: capitalize;
}

.container {
    width: 100%;
    font-family: 'Abel', sans-serif;
    font-size: 1.5rem;
}

.project-section a {
    border: none;

    background-image: linear-gradient(to left, turquoise, steelblue, rebeccapurple);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: var(--background);

    margin-top: 5%;
    padding: 20px;    
}

.project-section a:hover {
    transform: scale(1.5);
    transition: all 0.8s ease;
}
  
.developer {
    text-transform: lowercase;
    font-family: 'Style Script', cursive;
    font-size: xx-large;
    margin-bottom: 5%;    
}

.developer:hover {
    transform: scale(1.5);
    transition: all .5s ease;
}

@media only screen and (max-width: 600px) {
    .logo h2 {
        font-size: 1.5rem;
    }

    .project-sections {
        flex-direction: column;
    }
}